// Colors
$bondi-blue: #0096A9;
$wild-sand: #f5f5f5;
$silver-chalice: #adadad;
$silver: #c1c1c1;
$boulder: #747474;
$black: #000000;
$monza: #d0011b;
$white: #ffffff;
$porcelain: #e6eaeb;
$scorpion: #5b5b5b;
$tundora: #4b4b4b;
$botticelli: #c7e3e6;
$robins-egg-blue: #00bad2;
$torch-red: #f90120;
$fresh-green: #eaee23;

// Fonts
$font-prompt: 'Prompt', sans-serif;
